.search-page {
    height: 100vh;
    background-image: url('../assets/images/oppenheimer.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -30px;
    animation: changeBackground 12s infinite ease-in-out;
}

.search-page::after {
    content: '';
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
